.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &.open {
    display: flex;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 32px;
  border: 1px solid #888;
  width: 80%;
  max-width: 480px;
  border-radius: 24px;
  max-height: 80vh;
  overflow-y: auto;
}

.title {
  margin-block: 16px;
  font-size: 32px;
}

.description {
  color: var(--rose-500);
}

.product-list {
  padding: 16px;
  border-radius: 12px;
  background-color: var(--rose-100);
  margin-block: 1.5em;
}

.product-image {
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.product {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid var(--rose-300);
}

.total {
  padding-block: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-money {
  font-weight: 700;
  color: var(--rose-900);
}

.new-order-btn {
  width: 100%;
  padding-block: 16px;
  border-radius: 48px;
  background-color: var(--red);
  border: none;
  color: var(--rose-50);
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .modal-content {
    margin: 0;
    width: auto;
  }
}
